@rendermode InteractiveAuto

@if (!string.IsNullOrEmpty(Message))
{
    <div class="notification is-danger is-fixed-top">
        <button class="delete" @onclick="()=>DeleteNotification()"></button>
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public EventCallback OnDeleteNotification { get; set; }

    private async Task DeleteNotification()
    {
        await OnDeleteNotification.InvokeAsync();
    }
}
