@inject NavigationManager Navigation
@rendermode InteractiveServer

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <image src="Images/top-five-logo.png" width="75" height="40" />
        </a>
        <a role="button" class="navbar-burger @ToggleActive" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @onclick="()=>ToggleHamburger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @ToggleActive">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/Albums" class="navbar-item">
                Albums
            </a>
            <a href="/Add" class="navbar-item">
                Add
            </a>
            <a class="navbar-item">
                This Week's Top Five
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                @* <EditForm FormName="SearchBar" OnInvalidSubmit="HandleSearch"> *@
                    <div class="field">
                        <div class="control" width="20px">
                            <form @onsubmit="()=>HandleSearch()">
                                <input type="text" placeholder="Search" class="input has-text-white" @bind="@searchTerm"/>
                            </form>
                        </div>
                    </div>
                @* </EditForm> *@
            </div>

            <div class="navbar-item">
                <div class="buttons">
                    @* <a class="button is-light"> *@
                    @*     <strong>Sign up</strong> *@
                    @* </a> *@
                    <a class="button is-dark">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    protected string? searchTerm;

    protected string ToggleActive { get; set; } = "";

    protected void HandleSearch() 
    {
        if(!String.IsNullOrEmpty(searchTerm))
        {
            Navigation.NavigateTo($"/Search?searchTerm={searchTerm}");
        }
    }

    private void ToggleHamburger()
    {
        ToggleActive = ToggleActive is "" ? "is-active" : "";
    }
}

