
<div>
    <div class="card has-background">
        <CardImage ImageURL="@Album!.ImageURL" />
        <footer class="card-footer">
            <a href="@($"/Albums/{Album!.AlbumID}/Edit")" class="card-footer-item has-text-warning">Edit</a>
            <a href="@($"/Albums/{Album!.AlbumID}/Delete")" class="card-footer-item has-text-danger" type="button">Delete</a>
        </footer>
    </div>
</div>

@code {

    [Parameter]
    public AlbumReturnDto? Album { get; set; }
}