@inherits LayoutComponentBase

<header>
    <NavBar />
</header>

<div class="pl-6 pr-6">

    @Body

    <footer>
        Charlie 2025
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


