@inject IHttpClientFactory ClientFactory

@if(Albums == null) 
{
    <Loading />
}
else if(errorMessage != null)
{
    <h3>@errorMessage</h3>
}
else
{
    <AlbumCardList Albums="Albums"/>
}

@code {
    protected List<AlbumReturnDto> Albums { get; set; } = [];

    protected string? errorMessage;

    protected override async Task OnInitializedAsync() {

        try
        {
            var client = ClientFactory.CreateClient("RecordStoreAPI");

            var response = await client.GetFromJsonAsync<List<AlbumReturnDto>>("Albums");

            Albums = response != null ? response : [];
        }
        catch(Exception ex) 
        {
            errorMessage = $"An error occured: {ex.Message}";
        }
    }
}
