<SuccessMessageCascaded Message="Changes Were Made Successfully" />

<div class="columns is-8 mt-5 mb-5">
    <div class="column is-one-quarter">
        <AlbumPageCard Album="Album"/>
    </div>
    <div class="column">
        <h1 class="is-size-2 has-text-light has-text-weight-bold">@Album!.Name</h1>
        <h2 class="is-size-4">@Album!.Artist</h2>
        <h2 class="is-size-4">@Album!.ReleaseYear</h2>
        <div>
            <span class="is-size-4">Genres: </span>
            @for(int i = 0; i < Album.Genres.Count; i++)
            {
                string genre = genres![Album.Genres[i]];
                if (i != Album.Genres.Count - 1) genre += ", ";
                <span class="is-size-4">@genre</span>
            }
        </div>
        <p class="is-size-4">@Album.Information</p>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public AlbumReturnDto? Album { get; set; }

    [Parameter]
    public bool Edited { get; set; }

    public Dictionary<GenreEnum, string>? genres;


    protected override void OnInitialized()
    {
        genres = Genres.GenresDictionary() ?? [];
    }
}
