<div>
    <section class="hero">
        <div class="hero-body m-auto">
            <p class="title m-2 is-size-1">Top Five Records</p>
            <p class="subtitle has-text-centered is-size-3">Records That <strong>Matter</strong></p>
        </div>
    </section>
    <AlbumCardList/>
</div>

@code {

}
