<div>
    <div class="card has-background">
        <div class="card-image pb-4">
            <figure class="image is-square">
                <img src="Images/high-fidelity.jpg"
                     alt="Placeholder image" />
            </figure>
        </div>
        <div class="card-header is-justify-content-center mt-3">
            <p class="title is-6 has-text-centered">@Album.Name</p>
        </div>
        <div class="card-content">
            <div class="content is-justify-content-center">
                <p class="has-text-centered">@Album.Artist</p>
                <p class="has-text-centered">@Album.ReleaseYear</p>
            </div>
        </div>
    </div>
</div>


@code {
    
    [Parameter]
    public AlbumReturnDto Album { get; set; }
}