@inject IJSRuntime jsRuntime

<div>
    <div class="card has-background">
        <div class="card-image">
            <figure class="image is-square">
                <img src="Images/high-fidelity.jpg"
                alt="Placeholder image" />
            </figure>
        </div>
        <footer class="card-footer">
            <a href="@($"/Albums/{Album!.Id}/Edit")" class="card-footer-item has-text-warning">Edit</a>
            <a class="card-footer-item has-text-danger" @onclick="()=>HandleDeleteAlbum()">Delete</a>
        </footer>
    </div>
</div>

@code {

    [Parameter]
    public AlbumReturnDto? Album { get; set; }

    List<string> message = ["Are you sure you want to delete this album?"];

    protected async Task HandleDeleteAlbum()
    {
        await jsRuntime.InvokeAsync<object>("Confirm", new object[] {"Are you sure you want to delete this album."});
    }
}