@using RecordStoreAPI.Entities

<div class="m-6">
    <div class="field">
        <label class="label">Name</label>
        <div class="control" width="20px">
            <input class="input" type="text" placeholder="Enter Album Name">
        </div>
    </div>

    <div class="field">
        <label class="label">Artist</label>
        <div class="control has-icons-right">
            <input class="input" type="text" placeholder="Enter Artist Name" value="The Kinky Wizards">
            <span class="icon is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
        <p class="help is-danger">Enter a valid artist.</p>
    </div>

    <div class="field">
        <label class="label">Release Year</label>
        <div class="control has-icons-right">
            <input class="input" type="number" placeholder="Release Year" value="2000" />
            <span class="icon is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Genre</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>Select Genre</option>
                    @foreach(string genre in Genre.ReturnGenresInOrder()) 
                    {
                        <option>@genre</option>
                    }
                </select>
            </div>
        </div>
    </div>


    <div class="field">
        <label class="label">Information</label>
        <div class="control">
            <textarea class="textarea" placeholder="Album Info"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="radio">
                <input type="radio" name="question">
                Vinyl
            </label>
            <label class="radio">
                <input type="radio" name="question">
                CD
            </label>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-light">Submit</button>
        </div>
        <div class="control">
            <button class="button is-dark">Cancel</button>
        </div>
    </div>
</div>

@code {

}